.hidden-top {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
}

.hidden-top img {
    transition-delay: 200ms;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}