@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none;
}

:root {
  --background-color: #f9f9f9;
  --text-color: #000000;
  --blue-color: #2741ff;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--text-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5165ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue-color);
}

body {
  background-color: var(--background-color);
  font-family: "Prompt", sans-serif;
}

/* HEADER SECTION */
header {
  width: 100%;
  padding: 2.5rem 7%; /* top-bottom || left-right */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; /* center from top-bottom */
  position: relative;
  top: 0;
  left: 0;
}

header .logo {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 700;
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header .navbar ul li a {
  position: relative;
  margin-left: 7rem;
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 500;
}

header .navbar a:hover,
header .navbar a.active {
  color: var(--blue-color);
}

header .navbar a::after {
  content: "";
  position: absolute;
  background-color: var(--blue-color);
  height: 0.25rem;
  width: 0;
  left: 0;
  bottom: -0.625rem;
  border-radius: 1.25rem;
  transition: 0.3s;
}

header .navbar a:hover::after {
  width: 100%;
}

header .navbar a.active::after {
  width: 100%;
}

#menu {
  font-size: 3rem;
  color: #999;
  cursor: pointer;
  display: none;
}

/* RESPONSIVE FOR SMARTPHONE 767px */
@media screen and (max-width: 768px) {
  body {
    background-color: aquamarine;
  }
  #menu {
    display: block;
  }
  header {
    width: 100%;
    background-color: aqua;
  }

  header .navbar {
    position: fixed;
    top: 8rem;
    left: -120%;
    height: 100%;
    width: 100%;
    background: #eee;
    border-top: 0.2rem solid rgba(0, 0, 0, 0.1);
    z-index: 2;
  }

  header .navbar ul {
    flex-flow: column;
    padding: 2rem;
  }

  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
  }

  header .navbar ul li a {
    display: block;
    padding: 1rem;
    margin-left: 0;
  }

  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    padding: 1rem;
    background: var(--blue-color);
    color: var(--background-color);
    border: none;
    border-radius: 5rem;
  }

  header .navbar a::after {
    background-color: transparent;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  header .navbar.nav-toggle {
    left: 0;
  }

  /* CONTACT */
  .contact .contact-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
  }
  .contact-topic {
    padding-bottom: 4rem;
  }
}

.wrapper {
  margin: 100px auto;
  max-width: 1100px;
}
.wrapper nav {
  display: flex;
  justify-content: center;
}
.wrapper .items {
  display: flex;
  max-width: 720px;
  width: 100%;
  justify-content: space-between;
}
.items span {
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  color: #2741ff;
  border-radius: 50px;
  border: 2px solid #2741ff;
  transition: all 0.3s ease;
}
.items span.active,
.items span:hover {
  color: #fff;
  background: #2741ff;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.gallery .image {
  width: calc(100% / 3);
  padding: 25px;
  margin: 10px auto;
}
.gallery .image span {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.gallery .image img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.gallery .image:hover img {
  transform: scale(1.1);
}
.gallery .image.hide {
  display: none;
}
.gallery .image.show {
  animation: animate 0.4s ease;
}
@keyframes animate {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 400px;
  width: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.preview-box .details {
  padding: 13px 15px 13px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details .title {
  display: flex;
  font-size: 15px;
  font-weight: 300;
}
.details .title p {
  font-weight: 500;
  margin-left: 2px;
}
.details .icon {
  color: #007bff;
  font-style: 22px;
  cursor: pointer;
}
.preview-box .image-box {
  width: 100%;
  display: flex;
}
.image-box img {
  width: 100%;
  border-radius: 0 0 3px 3px;
}
.shadow {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0, 0, 0, 0.4);
}
.shadow.show {
  display: block;
}
@media (max-width: 1000px) {
  #menu {
    display: block;
  }
  header {
    width: 100%;
  }

  header .navbar {
    position: fixed;
    top: 8rem;
    left: -120%;
    height: 100%;
    width: 100%;
    background: #eee;
    border-top: 0.2rem solid rgba(0, 0, 0, 0.1);
    z-index: 2;
  }

  header .navbar ul {
    flex-flow: column;
    padding: 2rem;
  }

  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
  }

  header .navbar ul li a {
    display: block;
    padding: 1rem;
    margin-left: 0;
  }

  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    padding: 1rem;
    background: var(--blue-color);
    color: var(--background-color);
    border: none;
    border-radius: 5rem;
  }

  header .navbar a::after {
    background-color: transparent;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  header .navbar.nav-toggle {
    left: 0;
  }

  /* CONTACT */
  .contact .contact-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
  }
  .contact-topic {
    padding-bottom: 4rem;
  }
  .gallery .image {
    width: calc(100% / 3);
  }
}
@media (max-width: 800px) {
  .gallery .image {
    width: calc(100% / 2);
  }
}
@media (max-width: 700px) {
  .wrapper nav .items {
    max-width: 600px;
  }
  nav .items span {
    padding: 7px 15px;
  }
}
@media (max-width: 600px) {
  .wrapper {
    margin: 30px auto;
  }
  .wrapper nav .items {
    flex-wrap: wrap;
    justify-content: center;
  }
  nav .items span {
    margin: 5px;
  }
  .gallery .image {
    width: 100%;
  }
}

nav a:active {
  color: #2741ff;
}
.bottom-text {
  text-align: center;
  margin-top: 20px;
}

.bottom-text img {
  width: 100px;
}

.bottom-text p {
  font-size: 12px;
  font-weight: bold;
}

/* CONTACT SECTION || FOOTER */
.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  /* display: grid;
      grid-template-columns: repeat(2, 1fr); */
  bottom: 0;
  height: 20rem;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  border-top-left-radius: 125px;
  border-top-right-radius: 125px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 0;
}

.contact-topic {
  display: flex;
  position: absolute;
  align-items: center;
  top: 0;
  padding-bottom: 2rem;
}

.contact-topic h1 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--blue-color);
}

.contact-container {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(2, 1fr);
  gap: 30rem;
  grid-auto-rows: minmax(20px, auto);
  justify-content: center;
  align-items: center;
}

.contact-con p {
  color: var(--text-color);
  font-weight: 500;
  font-size: 24px;
}

.contact-con a,
#contact-container-info {
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  color: royalblue;
}

.contact-container a i {
  font-size: 2rem;
}
